<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <% if (success_msg.length> 0) { %>
        <div class="flash-message success">
            <%= success_msg %>
        </div>
        <% } %>
            <% if (error_msg.length> 0) { %>
                <div class="flash-message error">
                    <%= error_msg %>
                </div>
                <% } %>


    <header>
        <h1>Register</h1>
    </header>
    <main>
        <form action="/auth/register" method="POST">
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName" required>

            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="apartment">Apartment number:</label>
            <input type="text" id="apartment" name="apartment" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Register</button>
        </form>
        <p>Already have an account? <a href="/auth/login">Login here</a>.</p>
    </main>
</body>

</html>